<p>
  <strong>name:</strong>
  <%= @developer.dv_name %>
</p>

<p>
  <strong>description:</strong>
  <%= @developer.dv_description %>
</p>

<p>
  <strong>devices:</strong>
  <%= @developer.dv_devices %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %>
<%= link_to 'Back', developers_path %>
