<%= form_for @phone do |f| %>

  <% if @phone.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@phone.errors.count, "error") %> prohibited
        this phone from being saved:
      </h2>
      <ul>
        <% @phone.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :ph_developer %><br>
    <%= f.text_field :ph_developer %>
  </p>

  <p>
    <%= f.label :ph_manufacturer %><br>
    <%= f.text_field :ph_manufacturer %>
  </p>

  <p>
    <%= f.label :ph_model %><br>
    <%= f.text_field :ph_model %>
  </p>

  <p>
    <%= f.label :ph_description %><br>
    <%= f.text_area :ph_description %>
  </p>

  <p>
    <%= f.label :ph_year %><br>
    <%= f.text_field :ph_year %>
  </p>

  <p>
    <%= f.label :ph_resolution %><br>
    <%= f.text_field :ph_resolution %>
  </p>

  <p>
    <%= f.label :ph_diagonal %><br>
    <%= f.text_field :ph_diagonal %>
  </p>

  <p>
    <%= f.label :ph_screen_type %><br>
    <%= f.text_field :ph_screen_type %>
  </p>

  <p>
    <%= f.label :ph_dpi %><br>
    <%= f.text_field :ph_dpi %>
  </p>

  <p>
    <%= f.label :ph_multitouch %><br>
    <%= f.text_field :ph_multitouch %>
  </p>

  <p>
    <%= f.label :ph_cpu %><br>
    <%= f.text_field :ph_cpu %>
  </p>

  <p>
    <%= f.label :ph_cores %><br>
    <%= f.text_field :ph_cores %>
  </p>

  <p>
    <%= f.label :ph_frequency %><br>
    <%= f.text_field :ph_frequency %>
  </p>

  <p>
    <%= f.label :ph_gpu %><br>
    <%= f.text_field :ph_gpu %>
  </p>

  <p>
    <%= f.label :ph_inner_mem %><br>
    <%= f.text_field :ph_inner_mem %>
  </p>

  <p>
    <%= f.label :ph_access_mem %><br>
    <%= f.text_field :ph_access_mem %>
  </p>

  <p>
    <%= f.label :ph_ram %><br>
    <%= f.text_field :ph_ram %>
  </p>

  <p>
    <%= f.label :ph_cam %><br>
    <%= f.text_field :ph_cam %>
  </p>

  <p>
    <%= f.label :ph_megapixels %><br>
    <%= f.text_field :ph_megapixels %>
  </p>

  <p>
    <%= f.label :ph_photo_res %><br>
    <%= f.text_field :ph_photo_res %>
  </p>

  <p>
    <%= f.label :ph_hdr %><br>
    <%= f.text_field :ph_hdr %>
  </p>

  <p>
    <%= f.label :ph_front_megapixels %><br>
    <%= f.text_field :ph_front_megapixels %>
  </p>

  <p>
    <%= f.label :ph_video_res %><br>
    <%= f.text_field :ph_video_res %>
  </p>

  <p>
    <%= f.label :ph_fps %><br>
    <%= f.text_field :ph_fps %>
  </p>

  <p>
    <%= f.label :ph_four_k_video %><br>
    <%= f.text_field :ph_four_k_video %>
  </p>

  <p>
    <%= f.label :ph_three_g %><br>
    <%= f.text_area :ph_three_g %>
  </p>

  <p>
    <%= f.label :ph_four_g %><br>
    <%= f.text_area :ph_four_g %>
  </p>

  <p>
    <%= f.label :ph_wifi %><br>
    <%= f.text_field :ph_wifi %>
  </p>

  <p>
    <%= f.label :ph_bluetooth %><br>
    <%= f.text_field :ph_bluetooth %>
  </p>

  <p>
    <%= f.label :ph_nfc %><br>
    <%= f.text_field :ph_nfc %>
  </p>

  <p>
    <%= f.label :ph_gps %><br>
    <%= f.text_field :ph_gps %>
  </p>

  <p>
    <%= f.label :ph_gyroscope %><br>
    <%= f.text_field :ph_gyroscope %>
  </p>

  <p>
    <%= f.label :ph_accelerometer %><br>
    <%= f.text_field :ph_accelerometer %>
  </p>

  <p>
    <%= f.label :ph_barometer %><br>
    <%= f.text_field :ph_barometer %>
  </p>

  <p>
    <%= f.label :ph_wireless_charge %><br>
    <%= f.text_field :ph_wireless_charge %>
  </p>

  <p>
    <%= f.label :ph_fast_charge %><br>
    <%= f.text_field :ph_fast_charge %>
  </p>

  <p>
    <%= f.label :ph_vr %><br>
    <%= f.text_field :ph_vr %>
  </p>

  <p>
    <%= f.label :ph_battery %><br>
    <%= f.text_field :ph_battery %>
  </p>

  <p>
    <%= f.label :ph_standby_time %><br>
    <%= f.text_field :ph_standby_time %>
  </p>

  <p>
    <%= f.label :ph_talk_time %><br>
    <%= f.text_field :ph_talk_time %>
  </p>

  <p>
    <%= f.label :ph_os %><br>
    <%= f.text_field :ph_os %>
  </p>

  <p>
    <%= f.label :ph_color %><br>
    <%= f.text_field :ph_color %>
  </p>

  <p>
    <%= f.label :ph_weight %><br>
    <%= f.text_field :ph_weight %>
  </p>

  <p>
    <%= f.label :ph_dimensions %><br>
    <%= f.text_field :ph_dimensions %>
  </p>

  <p>
    <%= f.label :ph_material %><br>
    <%= f.text_field :ph_material %>
  </p>

  <p>
    <%= f.label :ph_protection %><br>
    <%= f.text_field :ph_protection %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
