<p>
  <strong>developer:</strong>
  <%= @phone.ph_developer %>
</p>

<p>
  <strong>manufacturer:</strong>
  <%= @phone.ph_manufacturer %>
</p>

<p>
  <strong>model:</strong>
  <%= @phone.ph_model %>
</p>

<p>
  <strong>description:</strong>
  <%= @phone.ph_description %>
</p>

<p>
  <strong>year:</strong>
  <%= @phone.ph_year %>
</p>

<p>
  <strong>resolution:</strong>
  <%= @phone.ph_resolution %>
</p>

<p>
  <strong>diagonal:</strong>
  <%= @phone.ph_diagonal %>
</p>

<p>
  <strong>screen_type:</strong>
  <%= @phone.ph_screen_type %>
</p>

<p>
  <strong>dpi:</strong>
  <%= @phone.ph_dpi %>
</p>

<p>
  <strong>multitouch:</strong>
  <%= @phone.ph_multitouch %>
</p>

<p>
  <strong>cpu:</strong>
  <%= @phone.ph_cpu %>
</p>

<p>
  <strong>cores:</strong>
  <%= @phone.ph_cores %>
</p>

<p>
  <strong>frequency:</strong>
  <%= @phone.ph_frequency %>
</p>

<p>
  <strong>gpu:</strong>
  <%= @phone.ph_gpu %>
</p>

<p>
  <strong>inner_mem:</strong>
  <%= @phone.ph_inner_mem %>
</p>

<p>
  <strong>access_mem:</strong>
  <%= @phone.ph_access_mem %>
</p>

<p>
  <strong>ram:</strong>
  <%= @phone.ph_ram %>
</p>

<p>
  <strong>cam:</strong>
  <%= @phone.ph_cam %>
</p>

<p>
  <strong>megapixels:</strong>
  <%= @phone.ph_megapixels %>
</p>

<p>
  <strong>photo_res:</strong>
  <%= @phone.ph_photo_res %>
</p>

<p>
  <strong>hdr:</strong>
  <%= @phone.ph_hdr %>
</p>

<p>
  <strong>front_megapixels:</strong>
  <%= @phone.ph_front_megapixels %>
</p>

<p>
  <strong>video_res:</strong>
  <%= @phone.ph_video_res %>
</p>

<p>
  <strong>fps:</strong>
  <%= @phone.ph_fps %>
</p>

<p>
  <strong>four_k_video:</strong>
  <%= @phone.ph_four_k_video %>
</p>

<p>
  <strong>three_g:</strong>
  <%= @phone.ph_three_g %>
</p>

<p>
  <strong>four_g:</strong>
  <%= @phone.ph_four_g %>
</p>

<p>
  <strong>wifi:</strong>
  <%= @phone.ph_wifi %>
</p>

<p>
  <strong>bluetooth:</strong>
  <%= @phone.ph_bluetooth %>
</p>

<p>
  <strong>nfc:</strong>
  <%= @phone.ph_nfc %>
</p>

<p>
  <strong>gps:</strong>
  <%= @phone.ph_gps %>
</p>

<p>
  <strong>gyroscope:</strong>
  <%= @phone.ph_gyroscope %>
</p>

<p>
  <strong>accelerometer:</strong>
  <%= @phone.ph_accelerometer %>
</p>

<p>
  <strong>barometer:</strong>
  <%= @phone.ph_barometer %>
</p>

<p>
  <strong>wireless_charge:</strong>
  <%= @phone.ph_wireless_charge %>
</p>

<p>
  <strong>fast_charge:</strong>
  <%= @phone.ph_fast_charge %>
</p>

<p>
  <strong>vr:</strong>
  <%= @phone.ph_vr %>
</p>

<p>
  <strong>battery:</strong>
  <%= @phone.ph_battery %>
</p>

<p>
  <strong>standby_time:</strong>
  <%= @phone.ph_standby_time %>
</p>

<p>
  <strong>talk_time:</strong>
  <%= @phone.ph_talk_time %>
</p>

<p>
  <strong>os:</strong>
  <%= @phone.ph_os %>
</p>

<p>
  <strong>color:</strong>
  <%= @phone.ph_color %>
</p>

<p>
  <strong>weight:</strong>
  <%= @phone.ph_weight %>
</p>

<p>
  <strong>dimensions:</strong>
  <%= @phone.ph_dimensions %>
</p>

<p>
  <strong>material:</strong>
  <%= @phone.ph_material %>
</p>

<p>
  <strong>protection:</strong>
  <%= @phone.ph_protection %>
</p>

<h2>Add a comment:</h2>
<%= form_for([@phone, @phone.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_phone_path(@phone) %>
<%= link_to 'Back', phones_path %>

<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <nav>
      <menu>

      </menu>
    </nav>
    <footer>

    </footer>
  </body>
</html>
