<p>
  <strong>developer:</strong>
  <%= @phone.developer %>
</p>

<p>
  <strong>manufacturer:</strong>
  <%= @phone.manufacturer %>
</p>

<p>
  <strong>model:</strong>
  <%= @phone.model %>
</p>

<p>
  <strong>description:</strong>
  <%= @phone.description %>
</p>

<p>
  <strong>year:</strong>
  <%= @phone.year %>
</p>

<p>
  <strong>resolution:</strong>
  <%= @phone.resolution %>
</p>

<p>
  <strong>diagonal:</strong>
  <%= @phone.diagonal %>
</p>

<p>
  <strong>screen_type:</strong>
  <%= @phone.screen_type %>
</p>

<p>
  <strong>dpi:</strong>
  <%= @phone.dpi %>
</p>

<p>
  <strong>multitouch:</strong>
  <%= @phone.multitouch %>
</p>

<p>
  <strong>cpu:</strong>
  <%= @phone.cpu %>
</p>

<p>
  <strong>cores:</strong>
  <%= @phone.cores %>
</p>

<p>
  <strong>frequency:</strong>
  <%= @phone.frequency %>
</p>

<p>
  <strong>gpu:</strong>
  <%= @phone.gpu %>
</p>

<p>
  <strong>inner_mem:</strong>
  <%= @phone.inner_mem %>
</p>

<p>
  <strong>access_mem:</strong>
  <%= @phone.access_mem %>
</p>

<p>
  <strong>ram:</strong>
  <%= @phone.ram %>
</p>

<p>
  <strong>cam:</strong>
  <%= @phone.cam %>
</p>

<p>
  <strong>megapixels:</strong>
  <%= @phone.megapixels %>
</p>

<p>
  <strong>photo_res:</strong>
  <%= @phone.photo_res %>
</p>

<p>
  <strong>hdr:</strong>
  <%= @phone.hdr %>
</p>

<p>
  <strong>front_megapixels:</strong>
  <%= @phone.front_megapixels %>
</p>

<p>
  <strong>video_res:</strong>
  <%= @phone.video_res %>
</p>

<p>
  <strong>fps:</strong>
  <%= @phone.fps %>
</p>

<p>
  <strong>four_k_video:</strong>
  <%= @phone.four_k_video %>
</p>

<p>
  <strong>three_g:</strong>
  <%= @phone.three_g %>
</p>

<p>
  <strong>four_g:</strong>
  <%= @phone.four_g %>
</p>

<p>
  <strong>wifi:</strong>
  <%= @phone.wifi %>
</p>

<p>
  <strong>bluetooth:</strong>
  <%= @phone.bluetooth %>
</p>

<p>
  <strong>nfc:</strong>
  <%= @phone.nfc %>
</p>

<p>
  <strong>gps:</strong>
  <%= @phone.gps %>
</p>

<p>
  <strong>gyroscope:</strong>
  <%= @phone.gyroscope %>
</p>

<p>
  <strong>accelerometer:</strong>
  <%= @phone.accelerometer %>
</p>

<p>
  <strong>barometer:</strong>
  <%= @phone.barometer %>
</p>

<p>
  <strong>wireless_charge:</strong>
  <%= @phone.wireless_charge %>
</p>

<p>
  <strong>fast_charge:</strong>
  <%= @phone.fast_charge %>
</p>

<p>
  <strong>vr:</strong>
  <%= @phone.vr %>
</p>

<p>
  <strong>battery:</strong>
  <%= @phone.battery %>
</p>

<p>
  <strong>standby_time:</strong>
  <%= @phone.standby_time %>
</p>

<p>
  <strong>talk_time:</strong>
  <%= @phone.talk_time %>
</p>

<p>
  <strong>os:</strong>
  <%= @phone.os %>
</p>

<p>
  <strong>color:</strong>
  <%= @phone.color %>
</p>

<p>
  <strong>weight:</strong>
  <%= @phone.weight %>
</p>

<p>
  <strong>dimensions:</strong>
  <%= @phone.dimensions %>
</p>

<p>
  <strong>material:</strong>
  <%= @phone.material %>
</p>

<p>
  <strong>protection:</strong>
  <%= @phone.protection %>
</p>

<h2>Add a comment:</h2>
<%= form_for([@phone, @phone.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_phone_path(@phone) %>
<%= link_to 'Back', phones_path %>
