<p>
  <strong>developer:</strong>
  <%= @phone.developer %>
</p>

<p>
  <strong>manufacturer:</strong>
  <%= @phone.manufacturer %>
</p>

<p>
  <strong>model:</strong>
  <%= @phone.model %>
</p>

<p>
  <strong>description:</strong>
  <%= @phone.description %>
</p>

<p>
  <strong>year:</strong>
  <%= @phone.year %>
</p>

<p>
  <strong>resolution:</strong>
  <%= @phone.resolution %>
</p>

<p>
  <strong>diagonal:</strong>
  <%= @phone.diagonal %>
</p>

<p>
  <strong>screen_type:</strong>
  <%= @phone.screen_type %>
</p>

<p>
  <strong>dpi:</strong>
  <%= @phone.dpi %>
</p>

<p>
  <strong>multitouch:</strong>
  <%= @phone.multitouch %>
</p>

<p>
  <strong>cpu:</strong>
  <%= @phone.cpu %>
</p>

<p>
  <strong>cores:</strong>
  <%= @phone.cores %>
</p>

<p>
  <strong>frequency:</strong>
  <%= @phone.frequency %>
</p>

<p>
  <strong>gpu:</strong>
  <%= @phone.gpu %>
</p>

<p>
  <strong>inner_mem:</strong>
  <%= @phone.inner_mem %>
</p>

<p>
  <strong>access_mem:</strong>
  <%= @phone.access_mem %>
</p>

<p>
  <strong>ram:</strong>
  <%= @phone.ram %>
</p>

<p>
  <strong>cam:</strong>
  <%= @phone.cam %>
</p>

<p>
  <strong>megapixels:</strong>
  <%= @phone.megapixels %>
</p>

<p>
  <strong>photo_res:</strong>
  <%= @phone.photo_res %>
</p>

<p>
  <strong>hdr:</strong>
  <%= @phone.hdr %>
</p>

<p>
  <strong>front_megapixels:</strong>
  <%= @phone.front_megapixels %>
</p>

<p>
  <strong>video_res:</strong>
  <%= @phone.video_res %>
</p>

<p>
  <strong>fps:</strong>
  <%= @phone.fps %>
</p>

<p>
  <strong>four_k_video:</strong>
  <%= @phone.four_k_video %>
</p>

<p>
  <strong>three_g:</strong>
  <%= @phone.three_g %>
</p>

<p>
  <strong>four_g:</strong>
  <%= @phone.four_g %>
</p>

<p>
  <strong>wifi:</strong>
  <%= @phone.wifi %>
</p>

<p>
  <strong>bluetooth:</strong>
  <%= @phone.bluetooth %>
</p>

<p>
  <strong>nfc:</strong>
  <%= @phone.nfc %>
</p>

<p>
  <strong>gps:</strong>
  <%= @phone.gps %>
</p>

<p>
  <strong>gyroscope:</strong>
  <%= @phone.gyroscope %>
</p>

<p>
  <strong>accelerometer:</strong>
  <%= @phone.accelerometer %>
</p>

<p>
  <strong>barometer:</strong>
  <%= @phone.barometer %>
</p>

<p>
  <strong>wireless_charge:</strong>
  <%= @phone.wireless_charge %>
</p>

<p>
  <strong>fast_charge:</strong>
  <%= @phone.fast_charge %>
</p>

<p>
  <strong>vr:</strong>
  <%= @phone.vr %>
</p>

<p>
  <strong>battery:</strong>
  <%= @phone.battery %>
</p>

<p>
  <strong>standby_time:</strong>
  <%= @phone.standby_time %>
</p>

<p>
  <strong>talk_time:</strong>
  <%= @phone.talk_time %>
</p>

<p>
  <strong>os:</strong>
  <%= @phone.os %>
</p>

<p>
  <strong>color:</strong>
  <%= @phone.color %>
</p>

<p>
  <strong>weight:</strong>
  <%= @phone.weight %>
</p>

<p>
  <strong>dimensions:</strong>
  <%= @phone.dimensions %>
</p>

<p>
  <strong>material:</strong>
  <%= @phone.material %>
</p>

<p>
  <strong>protection:</strong>
  <%= @phone.protection %>
</p>

<h2>Add a comment:</h2>
<%= form_for([@phone, @phone.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_phone_path(@phone) %>
<%= link_to 'Back', phones_path %>

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <nav>
      <menu>
      </menu>
    </nav>
    <main>
      <figure class="phone">
        <figcaption><%= @phone.model %></figcaption>
        <h2>Developer</h2>
        <p><%= @phone.developer %></p>
        <h2>Manufacturer</h2>
        <p><%= @phone.manufacturer %></p>
        <h2>Description</h2>
        <p><%= @phone.description %></p>
        <h2>Year</h2>
        <p><%= @phone.year %></p>
        <h2>Resolution</h2>
        <p><%= @phone.resolution %></p>
        <h2>Diagonal</h2>
        <p><%= @phone.diagonal %></p>
        <h2>Screen type</h2>
        <p><%= @phone.screen_type %></p>
        <h2>DPI</h2>
        <p><%= @phone.dpi %></p>
        <h2>Multitouch</h2>
        <p><%= @phone.multitouch %></p>
        <h2>CPU</h2>
        <p><%= @phone.cpu %></p>
        <h2>Number of cores</h2>
        <p><%= @phone.cores %></p>
        <h2>CPU frequency</h2>
        <p><%= @phone.frequency %></p>
        <h2>GPU</h2>
        <p><%= @phone.gpu %></p>
        <h2>Inner memory</h2>
        <p><%= @phone.inner_mem %></p>
        <h2>Accessable memory</h2>
        <p><%= @phone.access_mem %></p>
        <h2>RAM</h2>
        <p><%= @phone.ram %></p>
        <h2>Camera</h2>
        <p><%= @phone.cam %></p>
        <h2>Number of megapixels</h2>
        <p><%= @phone.megapixels %></p>
        <h2>Maximum photo resolution</h2>
        <p><%= @phone.photo_res %></p>
        <h2>HDR</h2>
        <p><%= @phone.hdr %></p>
        <h2>Number of front megapixels</h2>
        <p><%= @phone.front_megapixels %></p>
        <h2>Maximum video resolution</h2>
        <p><%= @phone.video_res %></p>
        <h2>FPS</h2>
        <p><%= @phone.fps %></p>
        <h2>4K video</h2>
        <p><%= @phone.four_k_video %></p>
        <h2>3G</h2>
        <p><%= @phone.three_g %></p>
        <h2>4G</h2>
        <p><%= @phone.four_g %></p>
        <h2>WiFi</h2>
        <p><%= @phone.wifi %></p>
        <h2>Bluetooth</h2>
        <p><%= @phone.bluetooth %></p>
        <h2>NFC</h2>
        <p><%= @phone.nfc %></p>
        <h2>GPS</h2>
        <p><%= @phone.gps %></p>
        <h2>Gyroscope</h2>
        <p><%= @phone.gyroscope %></p>
        <h2>Accelerometer</h2>
        <p><%= @phone.accelerometer %></p>
        <h2>Barometer</h2>
        <p><%= @phone.barometer %></p>
        <h2>Wireless charge</h2>
        <p><%= @phone.wireless_charge %></p>
        <h2>Fast charge</h2>
        <p><%= @phone.fast_charge %></p>
        <h2>VR</h2>
        <p><%= @phone.vr %></p>
        <h2>Battery capacity</h2>
        <p><%= @phone.battery %></p>
        <h2>Standby time</h2>
        <p><%= @phone.standby_time %></p>
        <h2>Talk time</h2>
        <p><%= @phone.talk_time %></p>
        <h2>Operation System</h2>
        <p><%= @phone.os %></p>
        <h2>Colors</h2>
        <p><%= @phone.color %></p>
        <h2>Weight</h2>
        <p><%= @phone.weight %></p>
        <h2>Dimensions</h2>
        <p><%= @phone.dimensions %></p>
        <h2>Material</h2>
        <p><%= @phone.material %></p>
      </figure>
    </main>
    <footer>
      <section>
        <h1>Pages</h1>
        <%= link_to 'Phones', controller: 'phones'%>
        <%= link_to 'Tablets', controller: 'tablets'%>
        <%= link_to 'Watches', controller: 'watches'%>
        <%= link_to 'Developers', controller: 'developers'%>
        <%= link_to 'Manufacturers', controller: 'manufacturers'%>
      </section>
      <section>
        <h1>Stay tuned</h1>
        <%= link_to 'Facebook', controller: 'phones'%>
        <%= link_to 'Twitter', controller: 'tablets'%>
        <%= link_to 'VK', controller: 'watches'%>
        <%= link_to 'Google+', controller: 'developers'%>
        <%= link_to 'Apps', controller: 'manufacturers'%>
      </section>
      <section>
        <h1>Information</h1>
        <%= link_to 'Send feedback', controller: 'phones'%>
        <%= link_to 'About', controller: 'tablets'%>
        <%= link_to 'Help', controller: 'watches'%>
        <%= link_to 'Terms', controller: 'developers'%>
        <%= link_to 'Privacy', controller: 'manufacturers'%>
      </section>
      <section>
        <h1>Other</h1>
        <%= link_to 'Send feedback', controller: 'phones'%>
        <%= link_to 'About', controller: 'tablets'%>
        <%= link_to 'Help', controller: 'watches'%>
        <%= link_to 'Terms', controller: 'developers'%>
        <%= link_to 'Privacy', controller: 'manufacturers'%>
      </section>
      <p class="copyright"></p>
    </footer>
  </body>
</html>
