<%= form_for @tablet do |f| %>

  <% if @tablet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tablet.errors.count, "error") %> prohibited
        this tablet from being saved:
      </h2>
      <ul>
        <% @tablet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :tb_developer %><br>
    <%= f.text_field :tb_developer %>
  </p>

  <p>
    <%= f.label :tb_manufacturer %><br>
    <%= f.text_field :tb_manufacturer %>
  </p>

  <p>
    <%= f.label :tb_model %><br>
    <%= f.text_field :tb_model %>
  </p>

  <p>
    <%= f.label :tb_description %><br>
    <%= f.text_area :tb_description %>
  </p>

  <p>
    <%= f.label :tb_year %><br>
    <%= f.text_field :tb_year %>
  </p>

  <p>
    <%= f.label :tb_resolution %><br>
    <%= f.text_field :tb_resolution %>
  </p>

  <p>
    <%= f.label :tb_diagonal %><br>
    <%= f.text_field :tb_diagonal %>
  </p>

  <p>
    <%= f.label :tb_screen_type %><br>
    <%= f.text_field :tb_screen_type %>
  </p>

  <p>
    <%= f.label :tb_dpi %><br>
    <%= f.text_field :tb_dpi %>
  </p>

  <p>
    <%= f.label :tb_multitouch %><br>
    <%= f.text_field :tb_multitouch %>
  </p>

  <p>
    <%= f.label :tb_cpu %><br>
    <%= f.text_field :tb_cpu %>
  </p>

  <p>
    <%= f.label :tb_cores %><br>
    <%= f.text_field :tb_cores %>
  </p>

  <p>
    <%= f.label :tb_frequency %><br>
    <%= f.text_field :tb_frequency %>
  </p>

  <p>
    <%= f.label :tb_gpu %><br>
    <%= f.text_field :tb_gpu %>
  </p>

  <p>
    <%= f.label :tb_inner_mem %><br>
    <%= f.text_field :tb_inner_mem %>
  </p>

  <p>
    <%= f.label :tb_access_mem %><br>
    <%= f.text_field :tb_access_mem %>
  </p>

  <p>
    <%= f.label :tb_ram %><br>
    <%= f.text_field :tb_ram %>
  </p>

  <p>
    <%= f.label :tb_cam %><br>
    <%= f.text_field :tb_cam %>
  </p>

  <p>
    <%= f.label :tb_megapixels %><br>
    <%= f.text_field :tb_megapixels %>
  </p>

  <p>
    <%= f.label :tb_photo_res %><br>
    <%= f.text_field :tb_photo_res %>
  </p>

  <p>
    <%= f.label :tb_hdr %><br>
    <%= f.text_field :tb_hdr %>
  </p>

  <p>
    <%= f.label :tb_front_megapixels %><br>
    <%= f.text_field :tb_front_megapixels %>
  </p>

  <p>
    <%= f.label :tb_video_res %><br>
    <%= f.text_field :tb_video_res %>
  </p>

  <p>
    <%= f.label :tb_fps %><br>
    <%= f.text_field :tb_fps %>
  </p>

  <p>
    <%= f.label :tb_four_k_video %><br>
    <%= f.text_field :tb_four_k_video %>
  </p>

  <p>
    <%= f.label :tb_calls %><br>
    <%= f.text_field :tb_calls %>
  </p>

  <p>
    <%= f.label :tb_sms %><br>
    <%= f.text_field :tb_sms %>
  </p>

  <p>
    <%= f.label :tb_mms %><br>
    <%= f.text_field :tb_mms %>
  </p>

  <p>
    <%= f.label :tb_three_g %><br>
    <%= f.text_area :tb_three_g %>
  </p>

  <p>
    <%= f.label :tb_four_g %><br>
    <%= f.text_area :tb_four_g %>
  </p>

  <p>
    <%= f.label :tb_wifi %><br>
    <%= f.text_field :tb_wifi %>
  </p>

  <p>
    <%= f.label :tb_bluetooth %><br>
    <%= f.text_field :tb_bluetooth %>
  </p>

  <p>
    <%= f.label :tb_nfc %><br>
    <%= f.text_field :tb_nfc %>
  </p>

  <p>
    <%= f.label :tb_gps %><br>
    <%= f.text_field :tb_gps %>
  </p>

  <p>
    <%= f.label :tb_gyroscope %><br>
    <%= f.text_field :tb_gyroscope %>
  </p>

  <p>
    <%= f.label :tb_accelerometer %><br>
    <%= f.text_field :tb_accelerometer %>
  </p>

  <p>
    <%= f.label :tb_barometer %><br>
    <%= f.text_field :tb_barometer %>
  </p>

  <p>
    <%= f.label :tb_wireless_charge %><br>
    <%= f.text_field :tb_wireless_charge %>
  </p>

  <p>
    <%= f.label :tb_fast_charge %><br>
    <%= f.text_field :tb_fast_charge %>
  </p>

  <p>
    <%= f.label :tb_stylus %><br>
    <%= f.text_field :tb_stylus %>
  </p>

  <p>
    <%= f.label :tb_keyboard %><br>
    <%= f.text_field :tb_keyboard %>
  </p>

  <p>
    <%= f.label :tb_battery %><br>
    <%= f.text_field :tb_battery %>
  </p>

  <p>
    <%= f.label :tb_standby_time %><br>
    <%= f.text_field :tb_standby_time %>
  </p>

  <p>
    <%= f.label :tb_talk_time %><br>
    <%= f.text_field :tb_talk_time %>
  </p>

  <p>
    <%= f.label :tb_os %><br>
    <%= f.text_field :tb_os %>
  </p>

  <p>
    <%= f.label :tb_color %><br>
    <%= f.text_field :tb_color %>
  </p>

  <p>
    <%= f.label :tb_weight %><br>
    <%= f.text_field :tb_weight %>
  </p>

  <p>
    <%= f.label :tb_dimensions %><br>
    <%= f.text_field :tb_dimensions %>
  </p>

  <p>
    <%= f.label :tb_material %><br>
    <%= f.text_field :tb_material %>
  </p>

  <p>
    <%= f.label :tb_protection %><br>
    <%= f.text_field :tb_protection %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
