<h1>tablets</h1>

<table>
  <tr>
    <th>Developer</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Description</th>
    <th>Year</th>
    <th>Resolution</th>
    <th>Diagonal</th>
    <th>Screen type</th>
    <th>DPI</th>
    <th>Multitouch</th>
    <th>CPU</th>
    <th>Cores</th>
    <th>Frequency</th>
    <th>GPU</th>
    <th>Inner memory</th>
    <th>Access memory</th>
    <th>RAM</th>
    <th>Camera</th>
    <th>Megapixels</th>
    <th>Photo resolution</th>
    <th>HDR</th>
    <th>Front megapixels</th>
    <th>Video resolution</th>
    <th>FPS</th>
    <th>4K video</th>
    <th>Calls</th>
    <th>SMS</th>
    <th>MMS</th>
    <th>3G</th>
    <th>4G</th>
    <th>WiFi</th>
    <th>Bluetooth</th>
    <th>NFC</th>
    <th>GPS</th>
    <th>Gyroscope</th>
    <th>Accelerometer</th>
    <th>Barometer</th>
    <th>Wireless charge</th>
    <th>Fast charge</th>
    <th>Stylus</th>
    <th>Keyboard</th>
    <th>Battery</th>
    <th>Standby time</th>
    <th>Talk time</th>
    <th>OS</th>
    <th>Color</th>
    <th>Weight</th>
    <th>Dimensions</th>
    <th>Material</th>
    <th>Protection</th>
    <th colspan="3"></th>
  </tr>

  <% @tablets.each do |tablet| %>
    <tr>
      <td><%= tablet.tb_developer %></td>
      <td><%= tablet.tb_manufacturer %></td>
      <td><%= tablet.tb_model %></td>
      <td><%= tablet.tb_description %></td>
      <td><%= tablet.tb_year %></td>
      <td><%= tablet.tb_resolution %></td>
      <td><%= tablet.tb_diagonal %></td>
      <td><%= tablet.tb_screen_type %></td>
      <td><%= tablet.tb_dpi %></td>
      <td><%= tablet.tb_multitouch %></td>
      <td><%= tablet.tb_cpu %></td>
      <td><%= tablet.tb_cores %></td>
      <td><%= tablet.tb_frequency %></td>
      <td><%= tablet.tb_gpu %></td>
      <td><%= tablet.tb_inner_mem %></td>
      <td><%= tablet.tb_access_mem %></td>
      <td><%= tablet.tb_ram %></td>
      <td><%= tablet.tb_cam %></td>
      <td><%= tablet.tb_megapixels %></td>
      <td><%= tablet.tb_photo_res %></td>
      <td><%= tablet.tb_hdr %></td>
      <td><%= tablet.tb_front_megapixels %></td>
      <td><%= tablet.tb_video_res %></td>
      <td><%= tablet.tb_fps %></td>
      <td><%= tablet.tb_four_k_video %></td>
      <td><%= tablet.tb_calls %></td>
      <td><%= tablet.tb_sms %></td>
      <td><%= tablet.tb_mms %></td>
      <td><%= tablet.tb_three_g %></td>
      <td><%= tablet.tb_four_g %></td>
      <td><%= tablet.tb_wifi %></td>
      <td><%= tablet.tb_bluetooth %></td>
      <td><%= tablet.tb_nfc %></td>
      <td><%= tablet.tb_gps %></td>
      <td><%= tablet.tb_gyroscope %></td>
      <td><%= tablet.tb_accelerometer %></td>
      <td><%= tablet.tb_barometer %></td>
      <td><%= tablet.tb_wireless_charge %></td>
      <td><%= tablet.tb_fast_charge %></td>
      <td><%= tablet.tb_stylus %></td>
      <td><%= tablet.tb_keyboard %></td>
      <td><%= tablet.tb_battery %></td>
      <td><%= tablet.tb_standby_time %></td>
      <td><%= tablet.tb_talk_time %></td>
      <td><%= tablet.tb_os %></td>
      <td><%= tablet.tb_color %></td>
      <td><%= tablet.tb_weight %></td>
      <td><%= tablet.tb_dimensions %></td>
      <td><%= tablet.tb_material %></td>
      <td><%= tablet.tb_protection %></td>
      <td><%= link_to 'Show', tablet_path(tablet) %></td>
      <td><%= link_to 'Edit', edit_tablet_path(tablet) %></td>
      <td><%= link_to 'Destroy', tablet_path(tablet),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
