<h1>tablets</h1>

<table>
  <tr>
    <th>Developer</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Description</th>
    <th>Year</th>
    <th>Resolution</th>
    <th>Diagonal</th>
    <th>Screen type</th>
    <th>DPI</th>
    <th>Multitouch</th>
    <th>CPU</th>
    <th>Cores</th>
    <th>Frequency</th>
    <th>GPU</th>
    <th>Inner memory</th>
    <th>Access memory</th>
    <th>RAM</th>
    <th>Camera</th>
    <th>Megapixels</th>
    <th>Photo resolution</th>
    <th>HDR</th>
    <th>Front megapixels</th>
    <th>Video resolution</th>
    <th>FPS</th>
    <th>4K video</th>
    <th>Calls</th>
    <th>SMS</th>
    <th>MMS</th>
    <th>3G</th>
    <th>4G</th>
    <th>WiFi</th>
    <th>Bluetooth</th>
    <th>NFC</th>
    <th>GPS</th>
    <th>Gyroscope</th>
    <th>Accelerometer</th>
    <th>Barometer</th>
    <th>Wireless charge</th>
    <th>Fast charge</th>
    <th>Stylus</th>
    <th>Keyboard</th>
    <th>Battery</th>
    <th>Standby time</th>
    <th>Talk time</th>
    <th>OS</th>
    <th>Color</th>
    <th>Weight</th>
    <th>Dimensions</th>
    <th>Material</th>
    <th>Protection</th>
    <th colspan="3"></th>
  </tr>

  <% @tablets.each do |tablet| %>
    <tr>
      <td><%= tablet.developer %></td>
      <td><%= tablet.manufacturer %></td>
      <td><%= tablet.model %></td>
      <td><%= tablet.description %></td>
      <td><%= tablet.year %></td>
      <td><%= tablet.resolution %></td>
      <td><%= tablet.diagonal %></td>
      <td><%= tablet.screen_type %></td>
      <td><%= tablet.dpi %></td>
      <td><%= tablet.multitouch %></td>
      <td><%= tablet.cpu %></td>
      <td><%= tablet.cores %></td>
      <td><%= tablet.frequency %></td>
      <td><%= tablet.gpu %></td>
      <td><%= tablet.inner_mem %></td>
      <td><%= tablet.access_mem %></td>
      <td><%= tablet.ram %></td>
      <td><%= tablet.cam %></td>
      <td><%= tablet.megapixels %></td>
      <td><%= tablet.photo_res %></td>
      <td><%= tablet.hdr %></td>
      <td><%= tablet.front_megapixels %></td>
      <td><%= tablet.video_res %></td>
      <td><%= tablet.fps %></td>
      <td><%= tablet.four_k_video %></td>
      <td><%= tablet.calls %></td>
      <td><%= tablet.sms %></td>
      <td><%= tablet.mms %></td>
      <td><%= tablet.three_g %></td>
      <td><%= tablet.four_g %></td>
      <td><%= tablet.wifi %></td>
      <td><%= tablet.bluetooth %></td>
      <td><%= tablet.nfc %></td>
      <td><%= tablet.gps %></td>
      <td><%= tablet.gyroscope %></td>
      <td><%= tablet.accelerometer %></td>
      <td><%= tablet.barometer %></td>
      <td><%= tablet.wireless_charge %></td>
      <td><%= tablet.fast_charge %></td>
      <td><%= tablet.stylus %></td>
      <td><%= tablet.keyboard %></td>
      <td><%= tablet.battery %></td>
      <td><%= tablet.standby_time %></td>
      <td><%= tablet.talk_time %></td>
      <td><%= tablet.os %></td>
      <td><%= tablet.color %></td>
      <td><%= tablet.weight %></td>
      <td><%= tablet.dimensions %></td>
      <td><%= tablet.material %></td>
      <td><%= tablet.protection %></td>
      <td><%= link_to 'Show', tablet_path(tablet) %></td>
      <td><%= link_to 'Edit', edit_tablet_path(tablet) %></td>
      <td><%= link_to 'Destroy', tablet_path(tablet),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
