<p>
  <strong>developer:</strong>
  <%= @tablet.developer %>
</p>

<p>
  <strong>manufacturer:</strong>
  <%= @tablet.manufacturer %>
</p>

<p>
  <strong>model:</strong>
  <%= @tablet.model %>
</p>

<p>
  <strong>description:</strong>
  <%= @tablet.description %>
</p>

<p>
  <strong>year:</strong>
  <%= @tablet.year %>
</p>

<p>
  <strong>resolution:</strong>
  <%= @tablet.resolution %>
</p>

<p>
  <strong>diagonal:</strong>
  <%= @tablet.diagonal %>
</p>

<p>
  <strong>screen_type:</strong>
  <%= @tablet.screen_type %>
</p>

<p>
  <strong>dpi:</strong>
  <%= @tablet.dpi %>
</p>

<p>
  <strong>multitouch:</strong>
  <%= @tablet.multitouch %>
</p>

<p>
  <strong>cpu:</strong>
  <%= @tablet.cpu %>
</p>

<p>
  <strong>cores:</strong>
  <%= @tablet.cores %>
</p>

<p>
  <strong>frequency:</strong>
  <%= @tablet.frequency %>
</p>

<p>
  <strong>gpu:</strong>
  <%= @tablet.gpu %>
</p>

<p>
  <strong>inner_mem:</strong>
  <%= @tablet.inner_mem %>
</p>

<p>
  <strong>access_mem:</strong>
  <%= @tablet.access_mem %>
</p>

<p>
  <strong>ram:</strong>
  <%= @tablet.ram %>
</p>

<p>
  <strong>cam:</strong>
  <%= @tablet.cam %>
</p>

<p>
  <strong>megapixels:</strong>
  <%= @tablet.megapixels %>
</p>

<p>
  <strong>photo_res:</strong>
  <%= @tablet.photo_res %>
</p>

<p>
  <strong>hdr:</strong>
  <%= @tablet.hdr %>
</p>

<p>
  <strong>front_megapixels:</strong>
  <%= @tablet.front_megapixels %>
</p>

<p>
  <strong>video_res:</strong>
  <%= @tablet.video_res %>
</p>

<p>
  <strong>fps:</strong>
  <%= @tablet.fps %>
</p>

<p>
  <strong>four_k_video:</strong>
  <%= @tablet.four_k_video %>
</p>

<p>
  <strong>calls:</strong>
  <%= @tablet.calls %>
</p>

<p>
  <strong>sms:</strong>
  <%= @tablet.sms %>
</p>

<p>
  <strong>mms:</strong>
  <%= @tablet.mms %>
</p>

<p>
  <strong>three_g:</strong>
  <%= @tablet.three_g %>
</p>

<p>
  <strong>four_g:</strong>
  <%= @tablet.four_g %>
</p>

<p>
  <strong>wifi:</strong>
  <%= @tablet.wifi %>
</p>

<p>
  <strong>bluetooth:</strong>
  <%= @tablet.bluetooth %>
</p>

<p>
  <strong>nfc:</strong>
  <%= @tablet.nfc %>
</p>

<p>
  <strong>gps:</strong>
  <%= @tablet.gps %>
</p>

<p>
  <strong>gyroscope:</strong>
  <%= @tablet.gyroscope %>
</p>

<p>
  <strong>accelerometer:</strong>
  <%= @tablet.accelerometer %>
</p>

<p>
  <strong>barometer:</strong>
  <%= @tablet.barometer %>
</p>

<p>
  <strong>wireless_charge:</strong>
  <%= @tablet.wireless_charge %>
</p>

<p>
  <strong>fast_charge:</strong>
  <%= @tablet.fast_charge %>
</p>

<p>
  <strong>stylus:</strong>
  <%= @tablet.stylus %>
</p>

<p>
  <strong>keyboard:</strong>
  <%= @tablet.keyboard %>
</p>

<p>
  <strong>battery:</strong>
  <%= @tablet.battery %>
</p>

<p>
  <strong>standby_time:</strong>
  <%= @tablet.standby_time %>
</p>

<p>
  <strong>talk_time:</strong>
  <%= @tablet.talk_time %>
</p>

<p>
  <strong>os:</strong>
  <%= @tablet.os %>
</p>

<p>
  <strong>color:</strong>
  <%= @tablet.color %>
</p>

<p>
  <strong>weight:</strong>
  <%= @tablet.weight %>
</p>

<p>
  <strong>dimensions:</strong>
  <%= @tablet.dimensions %>
</p>

<p>
  <strong>material:</strong>
  <%= @tablet.material %>
</p>

<p>
  <strong>protection:</strong>
  <%= @tablet.protection %>
</p>
