<p>
  <strong>developer:</strong>
  <%= @tablet.tb_developer %>
</p>

<p>
  <strong>manufacturer:</strong>
  <%= @tablet.tb_manufacturer %>
</p>

<p>
  <strong>model:</strong>
  <%= @tablet.tb_model %>
</p>

<p>
  <strong>description:</strong>
  <%= @tablet.tb_description %>
</p>

<p>
  <strong>year:</strong>
  <%= @tablet.tb_year %>
</p>

<p>
  <strong>resolution:</strong>
  <%= @tablet.tb_resolution %>
</p>

<p>
  <strong>diagonal:</strong>
  <%= @tablet.tb_diagonal %>
</p>

<p>
  <strong>screen_type:</strong>
  <%= @tablet.tb_screen_type %>
</p>

<p>
  <strong>dpi:</strong>
  <%= @tablet.tb_dpi %>
</p>

<p>
  <strong>multitouch:</strong>
  <%= @tablet.tb_multitouch %>
</p>

<p>
  <strong>cpu:</strong>
  <%= @tablet.tb_cpu %>
</p>

<p>
  <strong>cores:</strong>
  <%= @tablet.tb_cores %>
</p>

<p>
  <strong>frequency:</strong>
  <%= @tablet.tb_frequency %>
</p>

<p>
  <strong>gpu:</strong>
  <%= @tablet.tb_gpu %>
</p>

<p>
  <strong>inner_mem:</strong>
  <%= @tablet.tb_inner_mem %>
</p>

<p>
  <strong>access_mem:</strong>
  <%= @tablet.tb_access_mem %>
</p>

<p>
  <strong>ram:</strong>
  <%= @tablet.tb_ram %>
</p>

<p>
  <strong>cam:</strong>
  <%= @tablet.tb_cam %>
</p>

<p>
  <strong>megapixels:</strong>
  <%= @tablet.tb_megapixels %>
</p>

<p>
  <strong>photo_res:</strong>
  <%= @tablet.tb_photo_res %>
</p>

<p>
  <strong>hdr:</strong>
  <%= @tablet.tb_hdr %>
</p>

<p>
  <strong>front_megapixels:</strong>
  <%= @tablet.tb_front_megapixels %>
</p>

<p>
  <strong>video_res:</strong>
  <%= @tablet.tb_video_res %>
</p>

<p>
  <strong>fps:</strong>
  <%= @tablet.tb_fps %>
</p>

<p>
  <strong>four_k_video:</strong>
  <%= @tablet.tb_four_k_video %>
</p>

<p>
  <strong>calls:</strong>
  <%= @tablet.tb_calls %>
</p>

<p>
  <strong>sms:</strong>
  <%= @tablet.tb_sms %>
</p>

<p>
  <strong>mms:</strong>
  <%= @tablet.tb_mms %>
</p>

<p>
  <strong>three_g:</strong>
  <%= @tablet.tb_three_g %>
</p>

<p>
  <strong>four_g:</strong>
  <%= @tablet.tb_four_g %>
</p>

<p>
  <strong>wifi:</strong>
  <%= @tablet.tb_wifi %>
</p>

<p>
  <strong>bluetooth:</strong>
  <%= @tablet.tb_bluetooth %>
</p>

<p>
  <strong>nfc:</strong>
  <%= @tablet.tb_nfc %>
</p>

<p>
  <strong>gps:</strong>
  <%= @tablet.tb_gps %>
</p>

<p>
  <strong>gyroscope:</strong>
  <%= @tablet.tb_gyroscope %>
</p>

<p>
  <strong>accelerometer:</strong>
  <%= @tablet.tb_accelerometer %>
</p>

<p>
  <strong>barometer:</strong>
  <%= @tablet.tb_barometer %>
</p>

<p>
  <strong>wireless_charge:</strong>
  <%= @tablet.tb_wireless_charge %>
</p>

<p>
  <strong>fast_charge:</strong>
  <%= @tablet.tb_fast_charge %>
</p>

<p>
  <strong>stylus:</strong>
  <%= @tablet.tb_stylus %>
</p>

<p>
  <strong>keyboard:</strong>
  <%= @tablet.tb_keyboard %>
</p>

<p>
  <strong>battery:</strong>
  <%= @tablet.tb_battery %>
</p>

<p>
  <strong>standby_time:</strong>
  <%= @tablet.tb_standby_time %>
</p>

<p>
  <strong>talk_time:</strong>
  <%= @tablet.tb_talk_time %>
</p>

<p>
  <strong>os:</strong>
  <%= @tablet.tb_os %>
</p>

<p>
  <strong>color:</strong>
  <%= @tablet.tb_color %>
</p>

<p>
  <strong>weight:</strong>
  <%= @tablet.tb_weight %>
</p>

<p>
  <strong>dimensions:</strong>
  <%= @tablet.tb_dimensions %>
</p>

<p>
  <strong>material:</strong>
  <%= @tablet.tb_material %>
</p>

<p>
  <strong>protection:</strong>
  <%= @tablet.tb_protection %>
</p>

<h2>Add a comment:</h2>
<%= form_for([@tablet, @tablet.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_tablet_path(@tablet) %>
<%= link_to 'Back', tablets_path %>
