<h1>Top sas</h1>
<%= link_to 'Phones', controller: 'phones' %>
<%= link_to 'Tablets', controller: 'tablets' %>
<%= link_to 'Watches', controller: 'watches' %>
<%= link_to 'Developers', controller: 'developers' %>
<%= link_to 'Manufacturers', controller: 'manufacturers' %>
