<%= form_for @watch do |f| %>

  <% if @watch.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@watch.errors.count, "error") %> prohibited
        this watch from being saved:
      </h2>
      <ul>
        <% @watch.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :wt_developer %><br>
    <%= f.text_field :wt_developer %>
  </p>

  <p>
    <%= f.label :wt_manufacturer %><br>
    <%= f.text_field :wt_manufacturer %>
  </p>

  <p>
    <%= f.label :wt_model %><br>
    <%= f.text_field :wt_model %>
  </p>

  <p>
    <%= f.label :wt_description %><br>
    <%= f.text_area :wt_description %>
  </p>

  <p>
    <%= f.label :wt_year %><br>
    <%= f.text_field :wt_year %>
  </p>

  <p>
    <%= f.label :wt_resolution %><br>
    <%= f.text_field :wt_resolution %>
  </p>

  <p>
    <%= f.label :wt_diagonal %><br>
    <%= f.text_field :wt_diagonal %>
  </p>

  <p>
    <%= f.label :wt_screen_type %><br>
    <%= f.text_field :wt_screen_type %>
  </p>

  <p>
    <%= f.label :wt_color_screen %><br>
    <%= f.text_field :wt_color_screen %>
  </p>

  <p>
    <%= f.label :wt_dpi %><br>
    <%= f.text_field :wt_dpi %>
  </p>

  <p>
    <%= f.label :wt_touchscreen %><br>
    <%= f.text_field :wt_touchscreen %>
  </p>

  <p>
    <%= f.label :wt_multitouch %><br>
    <%= f.text_field :wt_multitouch %>
  </p>

  <p>
    <%= f.label :wt_cpu %><br>
    <%= f.text_field :wt_cpu %>
  </p>

  <p>
    <%= f.label :wt_cores %><br>
    <%= f.text_field :wt_cores %>
  </p>

  <p>
    <%= f.label :wt_frequency %><br>
    <%= f.text_field :wt_frequency %>
  </p>

  <p>
    <%= f.label :wt_gpu %><br>
    <%= f.text_field :wt_gpu %>
  </p>

  <p>
    <%= f.label :wt_inner_mem %><br>
    <%= f.text_field :wt_inner_mem %>
  </p>

  <p>
    <%= f.label :wt_access_mem %><br>
    <%= f.text_field :wt_access_mem %>
  </p>

  <p>
    <%= f.label :wt_ram %><br>
    <%= f.text_field :wt_ram %>
  </p>

  <p>
    <%= f.label :wt_cam %><br>
    <%= f.text_field :wt_cam %>
  </p>

  <p>
    <%= f.label :wt_megapixels %><br>
    <%= f.text_field :wt_megapixels %>
  </p>

  <p>
    <%= f.label :wt_photo_res %><br>
    <%= f.text_field :wt_photo_res %>
  </p>

  <p>
    <%= f.label :wt_autofocus %><br>
    <%= f.text_field :wt_autofocus %>
  </p>

  <p>
    <%= f.label :wt_video_rec %><br>
    <%= f.text_field :wt_video_rec %>
  </p>

  <p>
    <%= f.label :wt_video_res %><br>
    <%= f.text_field :wt_video_res %>
  </p>

  <p>
    <%= f.label :wt_fps %><br>
    <%= f.text_field :wt_fps %>
  </p>

  <p>
    <%= f.label :wt_finder %><br>
    <%= f.text_field :wt_finder %>
  </p>

  <p>
    <%= f.label :wt_calls %><br>
    <%= f.text_field :wt_calls %>
  </p>

  <p>
    <%= f.label :wt_email %><br>
    <%= f.text_field :wt_email %>
  </p>

  <p>
    <%= f.label :wt_sms %><br>
    <%= f.text_field :wt_sms %>
  </p>

  <p>
    <%= f.label :wt_mms %><br>
    <%= f.text_field :wt_mms %>
  </p>

  <p>
    <%= f.label :wt_wifi %><br>
    <%= f.text_field :wt_wifi %>
  </p>

  <p>
    <%= f.label :wt_bluetooth %><br>
    <%= f.text_field :wt_bluetooth %>
  </p>

  <p>
    <%= f.label :wt_nfc %><br>
    <%= f.text_field :wt_nfc %>
  </p>

  <p>
    <%= f.label :wt_gps %><br>
    <%= f.text_field :wt_gps %>
  </p>

  <p>
    <%= f.label :wt_gyroscope %><br>
    <%= f.text_field :wt_gyroscope %>
  </p>

  <p>
    <%= f.label :wt_accelerometer %><br>
    <%= f.text_field :wt_accelerometer %>
  </p>

  <p>
    <%= f.label :wt_barometer %><br>
    <%= f.text_field :wt_barometer %>
  </p>

  <p>
    <%= f.label :wt_thermometer %><br>
    <%= f.text_field :wt_thermometer %>
  </p>

  <p>
    <%= f.label :wt_compass %><br>
    <%= f.text_field :wt_compass %>
  </p>

  <p>
    <%= f.label :wt_chronograph %><br>
    <%= f.text_field :wt_chronograph %>
  </p>

  <p>
    <%= f.label :wt_pedometer %><br>
    <%= f.text_field :wt_pedometer %>
  </p>

  <p>
    <%= f.label :wt_pulse_sensor %><br>
    <%= f.text_field :wt_pulse_sensor %>
  </p>

  <p>
    <%= f.label :wt_fitness_tracker %><br>
    <%= f.text_field :wt_fitness_tracker %>
  </p>

  <p>
    <%= f.label :wt_wireless_charge %><br>
    <%= f.text_field :wt_wireless_charge %>
  </p>

  <p>
    <%= f.label :wt_fast_charge %><br>
    <%= f.text_field :wt_fast_charge %>
  </p>

  <p>
    <%= f.label :wt_battery %><br>
    <%= f.text_field :wt_battery %>
  </p>

  <p>
    <%= f.label :wt_standby_time %><br>
    <%= f.text_field :wt_standby_time %>
  </p>

  <p>
    <%= f.label :wt_clock_time %><br>
    <%= f.text_field :wt_clock_time %>
  </p>

  <p>
    <%= f.label :wt_os %><br>
    <%= f.text_field :wt_os %>
  </p>

  <p>
    <%= f.label :wt_online_service %><br>
    <%= f.text_field :wt_online_service %>
  </p>

  <p>
    <%= f.label :wt_compatibility %><br>
    <%= f.text_area :wt_compatibility %>
  </p>

  <p>
    <%= f.label :wt_speaker %><br>
    <%= f.text_field :wt_speaker %>
  </p>

  <p>
    <%= f.label :wt_mic %><br>
    <%= f.text_field :wt_mic %>
  </p>

  <p>
    <%= f.label :wt_color %><br>
    <%= f.text_field :wt_color %>
  </p>

  <p>
    <%= f.label :wt_weight %><br>
    <%= f.text_field :wt_weight %>
  </p>

  <p>
    <%= f.label :wt_dimensions %><br>
    <%= f.text_field :wt_dimensions %>
  </p>

  <p>
    <%= f.label :wt_material %><br>
    <%= f.text_field :wt_material %>
  </p>

  <p>
    <%= f.label :wt_protection %><br>
    <%= f.text_field :wt_protection %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
