<h1>watches</h1>

<table>
  <tr>
    <th>Developer</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Description</th>
    <th>Year</th>
    <th>Resolution</th>
    <th>Diagonal</th>
    <th>Screen type</th>
    <th>Color screen</th>
    <th>DPI</th>
    <th>Touchscreen</th>
    <th>Multitouch</th>
    <th>CPU</th>
    <th>Cores</th>
    <th>Frequency</th>
    <th>GPU</th>
    <th>Inner memory</th>
    <th>Access memory</th>
    <th>RAM</th>
    <th>Camera</th>
    <th>Megapixels</th>
    <th>Photo resolution</th>
    <th>Autofocus</th>
    <th>Vdeo recording</th>
    <th>Video resolution</th>
    <th>FPS</th>
    <th>Finder</th>
    <th>Calls</th>
    <th>E-mail</th>
    <th>SMS</th>
    <th>MMS</th>
    <th>WiFi</th>
    <th>Bluetooth</th>
    <th>NFC</th>
    <th>GPS</th>
    <th>Gyroscope</th>
    <th>Accelerometer</th>
    <th>Barometer</th>
    <th>Thermometer</th>
    <th>Compass</th>
    <th>Chrograph</th>
    <th>Pedometer</th>
    <th>Pulse sensor</th>
    <th>Fitness tracker</th>
    <th>Wireless charge</th>
    <th>Fast charge</th>
    <th>Battery</th>
    <th>Standby time</th>
    <th>Clock time</th>
    <th>OS</th>
    <th>Online service</th>
    <th>Compatibility</th>
    <th>Speaker</th>
    <th>Microphone</th>
    <th>Color</th>
    <th>Weight</th>
    <th>Dimensions</th>
    <th>Material</th>
    <th>Protection</th>
    <th colspan="3"></th>
  </tr>

  <% @watches.each do |watch| %>
    <tr>
      <td><%= watch.wt_developer %></td>
      <td><%= watch.wt_manufacturer %></td>
      <td><%= watch.wt_model %></td>
      <td><%= watch.wt_description %></td>
      <td><%= watch.wt_year %></td>
      <td><%= watch.wt_resolution %></td>
      <td><%= watch.wt_diagonal %></td>
      <td><%= watch.wt_color_screen %></td>
      <td><%= watch.wt_screen_type %></td>
      <td><%= watch.wt_dpi %></td>
      <td><%= watch.wt_touchscreen %></td>
      <td><%= watch.wt_multitouch %></td>
      <td><%= watch.wt_cpu %></td>
      <td><%= watch.wt_cores %></td>
      <td><%= watch.wt_frequency %></td>
      <td><%= watch.wt_gpu %></td>
      <td><%= watch.wt_inner_mem %></td>
      <td><%= watch.wt_access_mem %></td>
      <td><%= watch.wt_ram %></td>
      <td><%= watch.wt_cam %></td>
      <td><%= watch.wt_megapixels %></td>
      <td><%= watch.wt_photo_res %></td>
      <td><%= watch.wt_autofocus %></td>
      <td><%= watch.wt_video_rec %></td>
      <td><%= watch.wt_video_res %></td>
      <td><%= watch.wt_fps %></td>
      <td><%= watch.wt_finder %></td>
      <td><%= watch.wt_calls %></td>
      <td><%= watch.wt_email %></td>
      <td><%= watch.wt_sms %></td>
      <td><%= watch.wt_mms %></td>
      <td><%= watch.wt_wifi %></td>
      <td><%= watch.wt_bluetooth %></td>
      <td><%= watch.wt_nfc %></td>
      <td><%= watch.wt_gps %></td>
      <td><%= watch.wt_gyroscope %></td>
      <td><%= watch.wt_accelerometer %></td>
      <td><%= watch.wt_barometer %></td>
      <td><%= watch.wt_thermometer %></td>
      <td><%= watch.wt_compass %></td>
      <td><%= watch.wt_chronograph %></td>
      <td><%= watch.wt_pedometer %></td>
      <td><%= watch.wt_pulse_sensor %></td>
      <td><%= watch.wt_fitness_tracker %></td>
      <td><%= watch.wt_wireless_charge %></td>
      <td><%= watch.wt_fast_charge %></td>
      <td><%= watch.wt_battery %></td>
      <td><%= watch.wt_standby_time %></td>
      <td><%= watch.wt_clock_time %></td>
      <td><%= watch.wt_os %></td>
      <td><%= watch.wt_online_service %></td>
      <td><%= watch.wt_compatibility %></td>
      <td><%= watch.wt_speaker %></td>
      <td><%= watch.wt_microphone %></td>
      <td><%= watch.wt_color %></td>
      <td><%= watch.wt_weight %></td>
      <td><%= watch.wt_dimensions %></td>
      <td><%= watch.wt_material %></td>
      <td><%= watch.wt_protection %></td>
      <td><%= link_to 'Show', watch_path(watch) %></td>
      <td><%= link_to 'Edit', edit_watch_path(watch) %></td>
      <td><%= link_to 'Destroy', watch_path(watch),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
