<p>
  <strong>developer:</strong>
  <%= @watch.wt_developer %>
</p>

<p>
  <strong>manufacturer:</strong>
  <%= @watch.wt_manufacturer %>
</p>

<p>
  <strong>model:</strong>
  <%= @watch.wt_model %>
</p>

<p>
  <strong>description:</strong>
  <%= @watch.wt_description %>
</p>

<p>
  <strong>year:</strong>
  <%= @watch.wt_year %>
</p>

<p>
  <strong>resolution:</strong>
  <%= @watch.wt_resolution %>
</p>

<p>
  <strong>diagonal:</strong>
  <%= @watch.wt_diagonal %>
</p>

<p>
  <strong>screen_type:</strong>
  <%= @watch.wt_screen_type %>
</p>

<p>
  <strong>color_screen:</strong>
  <%= @watch.wt_color_screen %>
</p>

<p>
  <strong>dpi:</strong>
  <%= @watch.wt_dpi %>
</p>

<p>
  <strong>touchscreen:</strong>
  <%= @watch.wt_touchscreen %>
</p>

<p>
  <strong>multitouch:</strong>
  <%= @watch.wt_multitouch %>
</p>

<p>
  <strong>cpu:</strong>
  <%= @watch.wt_cpu %>
</p>

<p>
  <strong>cores:</strong>
  <%= @watch.wt_cores %>
</p>

<p>
  <strong>frequency:</strong>
  <%= @watch.wt_frequency %>
</p>

<p>
  <strong>gpu:</strong>
  <%= @watch.wt_gpu %>
</p>

<p>
  <strong>inner_mem:</strong>
  <%= @watch.wt_inner_mem %>
</p>

<p>
  <strong>access_mem:</strong>
  <%= @watch.wt_access_mem %>
</p>

<p>
  <strong>ram:</strong>
  <%= @watch.wt_ram %>
</p>

<p>
  <strong>cam:</strong>
  <%= @watch.wt_cam %>
</p>

<p>
  <strong>megapixels:</strong>
  <%= @watch.wt_megapixels %>
</p>

<p>
  <strong>photo_res:</strong>
  <%= @watch.wt_photo_res %>
</p>

<p>
  <strong>autofocus:</strong>
  <%= @watch.wt_autofocus %>
</p>

<p>
  <strong>video_rec:</strong>
  <%= @watch.wt_video_rec %>
</p>

<p>
  <strong>video_res:</strong>
  <%= @watch.wt_video_res %>
</p>

<p>
  <strong>fps:</strong>
  <%= @watch.wt_fps %>
</p>

<p>
  <strong>finder:</strong>
  <%= @watch.wt_finder %>
</p>

<p>
  <strong>calls:</strong>
  <%= @watch.wt_calls %>
</p>

<p>
  <strong>email:</strong>
  <%= @watch.wt_email %>
</p>

<p>
  <strong>sms:</strong>
  <%= @watch.wt_sms %>
</p>

<p>
  <strong>mms:</strong>
  <%= @watch.wt_mms %>
</p>

<p>
  <strong>wifi:</strong>
  <%= @watch.wt_wifi %>
</p>

<p>
  <strong>bluetooth:</strong>
  <%= @watch.wt_bluetooth %>
</p>

<p>
  <strong>nfc:</strong>
  <%= @watch.wt_nfc %>
</p>

<p>
  <strong>gps:</strong>
  <%= @watch.wt_gps %>
</p>

<p>
  <strong>gyroscope:</strong>
  <%= @watch.wt_gyroscope %>
</p>

<p>
  <strong>accelerometer:</strong>
  <%= @watch.wt_accelerometer %>
</p>

<p>
  <strong>barometer:</strong>
  <%= @watch.wt_barometer %>
</p>

<p>
  <strong>thermometer:</strong>
  <%= @watch.wt_thermometer %>
</p>

<p>
  <strong>compass:</strong>
  <%= @watch.wt_compass %>
</p>

<p>
  <strong>chronograph:</strong>
  <%= @watch.wt_chronograph %>
</p>

<p>
  <strong>pedometer:</strong>
  <%= @watch.wt_pedometer %>
</p>

<p>
  <strong>pulse_sensor:</strong>
  <%= @watch.wt_pulse_sensor %>
</p>

<p>
  <strong>fitness_tracker:</strong>
  <%= @watch.wt_fitness_tracker %>
</p>

<p>
  <strong>wireless_charge:</strong>
  <%= @watch.wt_wireless_charge %>
</p>

<p>
  <strong>fast_charge:</strong>
  <%= @watch.wt_fast_charge %>
</p>

<p>
  <strong>battery:</strong>
  <%= @watch.wt_battery %>
</p>

<p>
  <strong>standby_time:</strong>
  <%= @watch.wt_standby_time %>
</p>

<p>
  <strong>clock_time:</strong>
  <%= @watch.wt_clock_time %>
</p>

<p>
  <strong>os:</strong>
  <%= @watch.wt_os %>
</p>

<p>
  <strong>online_service:</strong>
  <%= @watch.wt_online_service %>
</p>

<p>
  <strong>compatibility:</strong>
  <%= @watch.wt_compatibility %>
</p>

<p>
  <strong>speaker:</strong>
  <%= @watch.wt_speaker %>
</p>

<p>
  <strong>mic:</strong>
  <%= @watch.wt_mic %>
</p>

<p>
  <strong>color:</strong>
  <%= @watch.wt_color %>
</p>

<p>
  <strong>weight:</strong>
  <%= @watch.wt_weight %>
</p>

<p>
  <strong>dimensions:</strong>
  <%= @watch.wt_dimensions %>
</p>

<p>
  <strong>material:</strong>
  <%= @watch.wt_material %>
</p>

<p>
  <strong>protection:</strong>
  <%= @watch.wt_protection %>
</p>

<h2>Add a comment:</h2>
<%= form_for([@watch, @watch.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_watch_path(@watch) %>
<%= link_to 'Back', watches_path %>
