<%= form_for @manufacturer do |f| %>

  <% if @manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@manufacturer.errors.count, "error") %> prohibited
        this manufacturer from being saved:
      </h2>
      <ul>
        <% @manufacturer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :mn_name %><br>
    <%= f.text_field :mn_name %>
  </p>

  <p>
    <%= f.label :mn_description %><br>
    <%= f.text_area :mn_description %>
  </p>

  <p>
    <%= f.label :mn_devices %><br>
    <%= f.text_area :mn_devices %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
