<p>
  <strong>name:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>description:</strong>
  <%= @manufacturer.description %>
</p>

<p>
  <strong>devices:</strong>
  <%= @manufacturer.devices %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %>
<%= link_to 'Back', manufacturers_path %>
